.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background: var(--bg-root-light);

  & #bg-ellipse {
    position: absolute;
    width: 90vw; /* 710px */
    height: 90vw; /* 710px */
    border-radius: 50%;
    background: linear-gradient(300deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 90%);
    filter: blur(20vw); /* 250px */
    top: 0;
    left: 5vw; /* 355px */
  }

  & .bg-shapes {
    & .shape {
      position: absolute;
      fill: url(#bg-shape-gradient-animation);
      opacity: 0.3;
      transition:
          top 0.5s var(--cubic-bezier-150),
          left 0.5s var(--cubic-bezier-150),
          scale 1s ease-in-out,
          opacity 1s ease-in-out;
    }

    & #shape-1 { width: 8.53vw; height: 8.53vw; } /* 35px */
    & #shape-2 { width: 9.26vw; height: 9.26vw; } /* 38px */
    & #shape-3 { width: 9.75vw; height: 9.75vw; } /* 40px */
    & #shape-4 { width: 7.31vw; height: 7.31vw; } /* 30px */
    & #shape-5 { width: 9.26vw; height: 9.26vw; } /* 38px */

    & #shape-1 svg { animation: shape-anim-1 3s ease-in-out infinite; }
    & #shape-2 svg { animation: shape-anim-2 20s linear infinite; }
    & #shape-3 svg { animation: shape-anim-3 20s cubic-bezier(0.1, 0, 0.9, 1) infinite; }
    & #shape-4 svg { animation: shape-anim-4 18s linear infinite; }
    & #shape-5 svg { animation: shape-anim-5 30s linear infinite; }

    &.set-0 {
      & .shape {
        opacity: 0;
        scale: 0;
        top: 50%;
        left: 50%;
      }
    }

    &.set-1 {
      & #shape-1 { top: calc(50% + 09.3vh); left: calc(50% + 36.6vw); } /* 080px 150px */
      & #shape-2 { top: calc(50% + 27.3vh); left: calc(50% - 29.3vw); } /* 235px 120px */
      & #shape-3 { top: calc(50% - 45.5vh); left: calc(50% - 36.6vw); } /* 390px 150px */
      & #shape-4 { top: calc(50% - 16.3vh); left: calc(50% - 43.9vw); } /* 140px 180px */
      & #shape-5 { top: calc(50% - 34.9vh); left: calc(50% + 31.7vw); } /* 300px 130px */

      &.transition {
        & #shape-1 { animation: shape-transition-1-1 1s ease-out }
        & #shape-2 { animation: shape-transition-1-2 1s ease-out }
        & #shape-3 { animation: shape-transition-1-3 1s ease-out }
        & #shape-4 { animation: shape-transition-1-4 1s ease-out }
        & #shape-5 { animation: shape-transition-1-5 1s ease-out }
      }
    }

    &.set-2 {
      & #shape-1 { top: calc(50% - 06.9vh); left: calc(50% + 09.8vw); } /* 060px 040px */
      & #shape-2 { top: calc(50% - 46.5vh); left: calc(50% + 19.5vw); } /* 400px 080px */
      & #shape-3 { top: calc(50% + 39.5vh); left: calc(50% - 30.5vw); } /* 340px 125px */
      & #shape-4 { top: calc(50% - 24.4vh); left: calc(50% - 45.1vw); } /* 210px 185px */
      & #shape-5 { top: calc(50% + 12.2vh); left: calc(50% + 36.6vw); } /* 105px 150px */

      &.transition {
        & #shape-1 { animation: shape-transition-2-1 1s ease-out }
        & #shape-2 { animation: shape-transition-2-2 1s ease-out }
        & #shape-3 { animation: shape-transition-2-3 1s ease-out }
        & #shape-4 { animation: shape-transition-2-4 1s ease-out }
        & #shape-5 { animation: shape-transition-2-5 1s ease-out }
      }
    }

    &.set-3 {
      & #shape-1 { top: calc(50% - 46.5vh); left: calc(50% + 12.2vw); } /* 400px 050px */
      & #shape-2 { top: calc(50% - 25.6vh); left: calc(50% - 47.6vw); } /* 220px 195px */
      & #shape-3 { top: calc(50% + 14.5vh); left: calc(50% - 34.1vw); } /* 125px 140px */
      & #shape-4 { top: calc(50% + 40.7vh); left: calc(50% + 26.8vw); } /* 350px 110px */
      & #shape-5 { top: calc(50% - 10.5vh); left: calc(50% + 34.1vw); } /* 090px 140px */

      &.transition {
        & #shape-1 { animation: shape-transition-3-1 1s ease-out }
        & #shape-2 { animation: shape-transition-3-2 1s ease-out }
        & #shape-3 { animation: shape-transition-3-3 1s ease-out }
        & #shape-4 { animation: shape-transition-3-4 1s ease-out }
        & #shape-5 { animation: shape-transition-3-5 1s ease-out }
      }
    }

    &.set-4 {
      & #shape-1 { top: calc(50% - 36.0vh); left: calc(50% + 34.1vw); } /* 310px 140px */
      & #shape-2 { top: calc(50% - 04.6vh); left: calc(50% - 41.5vw); } /* 040px 170px */
      & #shape-3 { top: calc(50% + 08.1vh); left: calc(50% + 26.8vw); } /* 070px 110px */
      & #shape-4 { top: calc(50% - 31.4vh); left: calc(50% - 43.9vw); } /* 270px 180px */
      & #shape-5 { top: calc(50% - 15.1vh); left: calc(50% + 37.8vw); } /* 130px 155px */

      &.transition {
        & #shape-1 { animation: shape-transition-4-1 1s ease-out }
        & #shape-2 { animation: shape-transition-4-2 1s ease-out }
        & #shape-3 { animation: shape-transition-4-3 1s ease-out }
        & #shape-4 { animation: shape-transition-4-4 1s ease-out }
        & #shape-5 { animation: shape-transition-4-5 1s ease-out }
      }
    }
  }
}

.dark-theme {
  & .background {
    background: var(--bg-root-dark);
  }
}

@keyframes shape-transition-1-1 {
  0% { transform-origin: -200% 100%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-1-2 {
  0% { transform-origin: 300% -300%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-1-3 {
  0% { transform-origin: 100% 300%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-1-4 {
  0% { transform-origin: 300% 100%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-1-5 {
  0% { transform-origin: -100% -100%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-2-1 {
  0% { transform-origin: -100% 100%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-2-2 {
  0% { transform-origin: -100% 300%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-2-3 {
  0% { transform-origin: 100% -200%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-2-4 {
  0% { transform-origin: 200% -100%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-2-5 {
  0% { transform-origin: -100% -200%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-3-1 {
  0% { transform-origin: 200% 200%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-3-2 {
  0% { transform-origin: 200% 300%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-3-3 {
  0% { transform-origin: 300% 100%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-3-4 {
  0% { transform-origin: -100% -200%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-3-5 {
  0% { transform-origin: -100% 200%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-4-1 {
  0% { transform-origin: -100% -100%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-4-2 {
  0% { transform-origin: 200% 300%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-4-3 {
  0% { transform-origin: -100% 100%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-4-4 {
  0% { transform-origin: 100% 200%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-4-5 {
  0% { transform-origin: -100% 200%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-anim-1 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(0, 10px) scale(0.9); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes shape-anim-2 {
  0% { transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg) scale(1) translate(0, 0); }
  50% { transform: rotateX(130deg) rotateY(60deg) rotateZ(180deg) scale(0.8) translate(0, 16px); }
  100% { transform: rotateX(180deg) rotateY(00deg) rotateZ(360deg) scale(1) translate(0, 0); }
}

@keyframes shape-anim-3 {
  0% { transform: rotateX(10deg) rotateY(-50deg) rotateZ(0deg) scale(1) translate(0, 0); }
  50% { transform: rotateX(20deg) rotateY(50deg) rotateZ(180deg) scale(0.8) translate(0, 16px); }
  100% { transform: rotateX(10deg) rotateY(-50deg) rotateZ(360deg) scale(1) translate(0, 0); }
}

@keyframes shape-anim-4 {
  0% { transform: rotate(0deg) translate(0, 0); }
  50% { transform: rotate(180deg) translate(0, 16px); }
  100% { transform: rotate(360deg) translate(0, 0); }
}

@keyframes shape-anim-5 {
  0% { transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg) scale(1) translate(0, 0); }
  50% { transform: rotateX(150deg) rotateY(50deg) rotateZ(180deg) scale(0.8) translate(0, 16px); }
  100% { transform: rotateX(180deg) rotateY(00deg) rotateZ(360deg) scale(1) translate(0, 0); }
}
