/* WIDTH: 1920px; HEIGHT: 1080px; */

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 58vw; /* 1120px */
    height: 36.45vw; /* 700px */

    &.out * {
      transition-duration: 0.3s !important;
      transition-timing-function: ease-in-out !important;
      transition-delay: 0s !important;

      & .actions button {
        transition: transform 0.14s ease-in-out, opacity 0.1s ease-out !important;
      }
    }

    &.left {
      flex-direction: row;

      & .text-actions {
        align-items: flex-start;
        text-align: start;
      }
    }

    &.right {
      flex-direction: row-reverse;

      & .text-actions {
        align-items: flex-end;
        text-align: end;
      }
    }

    & .text-actions {
      display: flex;
      flex-direction: column;
      gap: 2.6vw; /* 50px */
      flex-shrink: 0;

      & .title {
        display: flex;
        flex-direction: column;
        gap: 1vw; /* 20px */

        & span {
          font-size: 5vw; /* 96px */
          font-weight: 700;
          font-style: normal;
          line-height: normal;
          transition: transform 1s ease-out, opacity 1s var(--cubic-bezier-80);

          &:nth-child(1) {
            color: var(--text-dark);
          }

          &:nth-child(2) {
            color: transparent;
            -webkit-text-stroke-width: 0.1vw; /* 2px */
            -webkit-text-stroke-color: var(--text-dark);
          }
        }
      }

      & p {
        opacity: 1;
        font-size: 1.66vw; /* 32px */
        font-weight: 300;
        font-style: normal;
        line-height: normal;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      & .text {
        transition: transform 1s ease-out, opacity 1s ease-in;
      }
    }

    & .actions {
      & button {
        transition: transform 0.3s var(--cubic-bezier-150), opacity 0.2s ease-in;
        transition-delay: 0.5s;

        &:hover {
          animation: button-bounce 0.6s ease-in-out;
        }
      }
    }

    & .illustrations {
      filter: drop-shadow(0.52vw 0.47vw 1.56vw rgba(0, 0, 0, 0.4)); /* 10px 9px 30px */

      & > div {
        transition: transform 0.6s ease-out, opacity 0.4s var(--cubic-bezier-80);
      }

      & svg {
        transition: filter 0.15s ease-in-out, transform 1s ease-out;

        &:hover {
          filter: drop-shadow(0.26vw 0.26vw 0.52vw rgba(0, 0, 0, 0.4)); /* 5px 5px 10px */
        }
      }
    }
  }
}

.dark-theme {
  & .home {
    & .content {
      & .text-actions {
        & .title {
          & span {
            &:nth-child(1) {
              color: var(--text-light);
            }

            &:nth-child(2) {
              -webkit-text-stroke-color: var(--text-light);
            }
          }
        }

        & p {
          opacity: 0.6;
        }
      }
    }
  }
}

::view-transition-old(root) {
  animation: none;
}

::view-transition-new(root) {
  animation: none;
}
