:root {
    --primary: #a22ddc;
    --gradient-color-1: #f42ef8;
    --gradient-color-2: #512ac0;

    --black: #000;
    --white: #fff;

    --grey98: hsl(0, 0%, 98%);
    --grey90: hsl(0, 0%, 90%);
    --grey85: hsl(0, 0%, 85%);
    --grey75: hsl(0, 0%, 75%);
    --grey60: hsl(0, 0%, 60%);
    --grey50: hsl(0, 0%, 50%);
    --grey35: hsl(0, 0%, 35%);
    --grey25: hsl(0, 0%, 25%);
    --grey15: hsl(0, 0%, 15%);
    --grey12: hsl(0, 0%, 12.5%);
    --grey10: hsl(0, 0%, 10%);
    --grey07: hsl(0, 0%, 7.5%);

    --white04: color-mix(in srgb, var(--white), transparent 96%);
    --white07: color-mix(in srgb, var(--white), transparent 92.5%);
    --white10: color-mix(in srgb, var(--white), transparent 90%);
    --white18: color-mix(in srgb, var(--white), transparent 82%);
    --white25: color-mix(in srgb, var(--white), transparent 75%);
    --white50: color-mix(in srgb, var(--white), transparent 50%);
    --white75: color-mix(in srgb, var(--white), transparent 25%);
    --white85: color-mix(in srgb, var(--white), transparent 15%);
    --white90: color-mix(in srgb, var(--white), transparent 10%);

    --black04: color-mix(in srgb, var(--black), transparent 96%);
    --black07: color-mix(in srgb, var(--black), transparent 92.5%);
    --black10: color-mix(in srgb, var(--black), transparent 90%);
    --black25: color-mix(in srgb, var(--black), transparent 75%);
    --black50: color-mix(in srgb, var(--black), transparent 50%);
    --black75: color-mix(in srgb, var(--black), transparent 25%);
    --black90: color-mix(in srgb, var(--black), transparent 10%);

    --primary-light1: color-mix(in srgb, var(--primary) 85%, var(--white));
    --primary-light2: color-mix(in srgb, var(--primary) 70%, var(--white));
    --primary-light3: color-mix(in srgb, var(--primary) 40%, var(--white));
    --primary-light4: color-mix(in srgb, var(--primary) 25%, var(--white));

    --primary-dark1: color-mix(in srgb, var(--primary) 88%, var(--black));
    --primary-dark2: color-mix(in srgb, var(--primary) 82%, var(--black));
    --primary-dark3: color-mix(in srgb, var(--primary) 48%, var(--grey15));
    --primary-dark4: color-mix(in srgb, var(--primary) 20%, var(--grey12));
    --primary-dark5: color-mix(in srgb, var(--primary) 14%, var(--grey07));
    --primary-dark6: color-mix(in srgb, var(--primary) 15%, var(--black));

    --text-light: var(--white);
    --text-dark: var(--black75);
    --text-link: var(--primary);

    --bg-root-light: #f5e0ff;
    --bg-root-dark: #0a0025;

    --bg-root-light-25: color-mix(in srgb, var(--bg-root-light), transparent 75%);
    --bg-root-dark-25: color-mix(in srgb, var(--bg-root-dark), transparent 75%);

    --bg-elevated-light: var(--grey90);
    --bg-elevated-dark: var(--grey12);
    --bg-elevated-hover-light: var(--black10);
    --bg-elevated-hover-dark: var(--white10);

    --button-gradient: linear-gradient(270deg, var(--gradient-color-1) -20%, var(--gradient-color-2) 125%);
    --button-glow-color-50: color-mix(in srgb, var(--primary), transparent 50%);
    --button-glow-50:
        0 0 1px 0 var(--button-glow-color-50),
        0 0 3px 0 var(--button-glow-color-50),
        0 0 9px 0 var(--button-glow-color-50),
        0 0 18px 0 var(--button-glow-color-50),
        0 0 32px 0 var(--button-glow-color-50),
        0 0 54px 0 var(--button-glow-color-50);
    --button-glow:
        0 0 1px 0 var(--primary),
        0 0 3px 0 var(--primary),
        0 0 9px 0 var(--primary),
        0 0 18px 0 var(--primary),
        0 0 32px 0 var(--primary),
        0 0 54px 0 var(--primary);
    --button-dark: #48405c;
    --button-light: #eabfff;

    --blue: #8ab4f8;
    --red: #f28b82;
    --yellow: #fdd663;
    --green: #81c995;
    --pink: #ff8bcb;
    --purple: #c58af9;
    --cyan: #78d9ec;
    --orange: #fcad70;

    --custom-color-1: #000000;
    --custom-color-2: #000000;
    --custom-color-3: #000000;

    --toolbar-height: 108px;
    --home-header-height: 80px;

    --cubic-bezier-80: cubic-bezier(1, 0, 0.8, 0.8);
    --cubic-bezier-150: cubic-bezier(0.5, 0, 0, 1.5);
    --cubic-bezier-125: cubic-bezier(0.5, 0, 0, 1.25);
    --cubic-bezier-80-r: cubic-bezier(0.8, 0.8, 0, 1);

    --view-transition-z-index: 0;
}
