.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--bg-root-light);

  & #bg-ellipse {
    position: absolute;
    width: 37vw; /* 710px */
    height: 37vw; /* 710px */
    border-radius: 50%;
    background: linear-gradient(300deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 90%);
    filter: blur(13vw); /* 250px */
    top: calc(50% - 18.5vw); /* 355px */
    transition: left 1s var(--cubic-bezier-150);

    &.set-0, &.set-1, &.set-3 {
      left: 52.5%;
    }

    &.set-2 {
      left: 10%;
    }

    &.set-4 {
      left: 12%;
    }
  }

  & #bg-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--black07);
  }

  & .bg-shapes {
    & .shape {
      position: absolute;
      fill: url(#bg-shape-gradient-animation);
      opacity: 0.75;
      transition:
          top 0.5s var(--cubic-bezier-150),
          left 0.5s var(--cubic-bezier-150),
          scale 1s ease-in-out,
          opacity 1s ease-in-out;
    }

    & #shape-1 { width: 3.33vw; height: 3.33vw; } /* 64px */
    & #shape-2 { width: 3.65vw; height: 3.65vw; } /* 70px */
    & #shape-3 { width: 3.96vw; height: 3.96vw; } /* 76px */
    & #shape-4 { width: 2.91vw; height: 2.91vw; } /* 56px */
    & #shape-5 { width: 3.65vw; height: 3.65vw; } /* 70px */

    & #shape-1 svg { animation: shape-anim-1 3s ease-in-out infinite; }
    & #shape-2 svg { animation: shape-anim-2 20s linear infinite; }
    & #shape-3 svg { animation: shape-anim-3 20s cubic-bezier(0.1, 0, 0.9, 1) infinite; }
    & #shape-4 svg { animation: shape-anim-4 18s linear infinite; }
    & #shape-5 svg { animation: shape-anim-5 30s linear infinite; }

    &.set-0 {
      & .shape {
        opacity: 0;
        scale: 0;
        top: 50%;
        left: 50%;
      }
    }

    &.set-1 {
      & #shape-1 { top: calc(50% - 15.1vw); left: calc(50% + 29.2vw); } /* 290px 560px */
      & #shape-2 { top: calc(50% + 10.4vw); left: calc(50% + 38.5vw); } /* 200px 740px */
      & #shape-3 { top: calc(50% + 7.8vw); left: calc(50% - 34.4vw); } /* 150px 660px */
      & #shape-4 { top: calc(50% + 17.2vw); left: calc(50% + 4.2vw); } /* 330px 80px */
      & #shape-5 { top: calc(50% - 17.7vw); left: calc(50% - 1vw); } /* 340px 20px */

      &.transition {
        & #shape-1 { animation: shape-transition-1-1 1s ease-out }
        & #shape-2 { animation: shape-transition-1-2 1s ease-out }
        & #shape-3 { animation: shape-transition-1-3 1s ease-out }
        & #shape-4 { animation: shape-transition-1-4 1s ease-out }
        & #shape-5 { animation: shape-transition-1-5 1s ease-out }
      }
    }

    &.set-2 {
      & #shape-1 { top: calc(50% - 18.5vw); left: calc(50% + 19.8vw); } /* 356px 380px */
      & #shape-2 { top: calc(50% + 6.2vw); left: calc(50% - 41.6vw); } /* 120px 800px */
      & #shape-3 { top: calc(50% + 3.4vw); left: calc(50% + 31.5vw); } /* 65px 605px */
      & #shape-4 { top: calc(50% - 14.6vw); left: calc(50% - 38vw); } /* 280px 730px */
      & #shape-5 { top: calc(50% + 12.2vw); left: calc(50% - 2.9vw); } /* 235px 55px */

      &.transition {
        & #shape-1 { animation: shape-transition-2-1 1s ease-out }
        & #shape-2 { animation: shape-transition-2-2 1s ease-out }
        & #shape-3 { animation: shape-transition-2-3 1s ease-out }
        & #shape-4 { animation: shape-transition-2-4 1s ease-out }
        & #shape-5 { animation: shape-transition-2-5 1s ease-out }
      }
    }

    &.set-3 {
      & #shape-1 { top: calc(50% + 10.4vw); left: calc(50% + 25vw); } /* 200px 480px */
      & #shape-2 { top: calc(50% - 14vw); left: calc(50% + 31.9vw); } /* 270px 612px */
      & #shape-3 { top: calc(50% + 8.3vw); left: calc(50% - 3.1vw); } /* 160px 60px */
      & #shape-4 { top: calc(50% - 18.2vw); left: calc(50% - 9.9vw); } /* 350px 190px */
      & #shape-5 { top: calc(50% + 4.9vw); left: calc(50% - 35.7vw); } /* 95px 685px */

      &.transition {
        & #shape-1 { animation: shape-transition-3-1 1s ease-out }
        & #shape-2 { animation: shape-transition-3-2 1s ease-out }
        & #shape-3 { animation: shape-transition-3-3 1s ease-out }
        & #shape-4 { animation: shape-transition-3-4 1s ease-out }
        & #shape-5 { animation: shape-transition-3-5 1s ease-out }
      }
    }

    &.set-4 {
      & #shape-1 { top: calc(50% - 9.6vw); left: calc(50% + 29.7vw); } /* 185px 570px */
      & #shape-2 { top: calc(50% + 6.2vw); left: calc(50% - 41.6vw); } /* 120px 800px */
      & #shape-3 { top: calc(50% + 11.5vw); left: calc(50% + 34.4vw); } /* 220px 660px */
      & #shape-4 { top: calc(50% - 14.6vw); left: calc(50% - 38vw); } /* 280px 730px */
      & #shape-5 { top: calc(50% + 14.6vw); left: calc(50% - 7.8vw); } /* 280px 150px */

      &.transition {
        & #shape-1 { animation: shape-transition-2-1 1s ease-out }
        & #shape-2 { animation: shape-transition-2-2 1s ease-out }
        & #shape-3 { animation: shape-transition-2-3 1s ease-out }
        & #shape-4 { animation: shape-transition-2-4 1s ease-out }
        & #shape-5 { animation: shape-transition-2-5 1s ease-out }
      }
    }
  }
}

.dark-theme {
  & .background {
    background: var(--bg-root-dark);

    & #bg-canvas {
      color: var(--white07);
    }
  }
}

@keyframes shape-transition-1-1 {
  0% { transform-origin: 200% 250%; }
  100% { transform-origin: 50% -100%; transform: rotate(-360deg); }
}

@keyframes shape-transition-1-2 {
  0% { transform-origin: 100% 200%; }
  100% { transform-origin: -100% 100%; transform: rotate(360deg); }
}

@keyframes shape-transition-1-3 {
  0% { transform-origin: -100% 150%; }
  100% { transform-origin: 100% -50%; transform: rotate(360deg); }
}

@keyframes shape-transition-1-4 {
  0% { transform-origin: 100% 50%; }
  100% { transform-origin: 100% 50%; transform: rotate(-360deg); }
}

@keyframes shape-transition-1-5 {
  0% { transform-origin: 100% -150%; }
  100% { transform-origin: 20% 200%; transform: rotate(360deg); }
}

@keyframes shape-transition-2-1 {
  0% { transform-origin: -100% 100%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-2-2 {
  0% { transform-origin: 500% -200%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-2-3 {
  0% { transform-origin: -200% 100%; }
  100% { transform-origin: 200% -200%; transform: rotate(360deg); }
}

@keyframes shape-transition-2-4 {
  0% { transform-origin: -100% -100%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-2-5 {
  0% { transform-origin: -300% -200%; }
  100% { transform: rotate(360deg); }
}

@keyframes shape-transition-3-1 {
  0% { transform-origin: 200% 200%; }
  100% { transform-origin: -100% 50%; transform: rotate(360deg); }
}

@keyframes shape-transition-3-2 {
  0% { transform-origin: -150% 100%; }
  100% { transform-origin: -100% -50%; transform: rotate(-360deg); }
}

@keyframes shape-transition-3-3 {
  0% { transform-origin: -200% 100%; }
  100% { transform-origin: 200% -200%; transform: rotate(360deg); }
}

@keyframes shape-transition-3-4 {
  0% { transform-origin: -100% 500%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-transition-3-5 {
  0% { transform-origin: -100% 200%; }
  100% { transform: rotate(-360deg); }
}

@keyframes shape-anim-1 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(0, 10px) scale(0.9); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes shape-anim-2 {
  0% { transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg) scale(1) translate(0, 0); }
  50% { transform: rotateX(130deg) rotateY(60deg) rotateZ(180deg) scale(0.8) translate(0, 16px); }
  100% { transform: rotateX(180deg) rotateY(00deg) rotateZ(360deg) scale(1) translate(0, 0); }
}

@keyframes shape-anim-3 {
  0% { transform: rotateX(10deg) rotateY(-50deg) rotateZ(0deg) scale(1) translate(0, 0); }
  50% { transform: rotateX(20deg) rotateY(50deg) rotateZ(180deg) scale(0.8) translate(0, 16px); }
  100% { transform: rotateX(10deg) rotateY(-50deg) rotateZ(360deg) scale(1) translate(0, 0); }
}

@keyframes shape-anim-4 {
  0% { transform: rotate(0deg) translate(0, 0); }
  50% { transform: rotate(180deg) translate(0, 16px); }
  100% { transform: rotate(360deg) translate(0, 0); }
}

@keyframes shape-anim-5 {
  0% { transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg) scale(1) translate(0, 0); }
  50% { transform: rotateX(150deg) rotateY(50deg) rotateZ(180deg) scale(0.8) translate(0, 16px); }
  100% { transform: rotateX(180deg) rotateY(00deg) rotateZ(360deg) scale(1) translate(0, 0); }
}
