.projects-carousel-scene {
  & .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.88vw; /* 20px */

    & .logo {
      width: 68.3vw; /* 280px */
      height: 68.3vw; /* 280px */

      &.stack {
        --smooth: 3;
        --breath: 0;
        border-radius: 20.73vw; /* 85px */
        background: linear-gradient(135deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);

        @supports (mask-image: paint(squircle)) {
          border-radius: 0;
          mask-image: paint(squircle);
        }
      }

      & img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
        line-height: 73.17vw; /* 300px */
        text-align: center;
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
      }
    }

    & .text-actions {
      display: flex;
      flex-direction: column;
      margin-top: 4.88vw; /* 20px */
      gap: 5.85vw; /* 24px */

      & .title-tag {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .title {
          font-size: 11.22vw; /* 46px */
          font-weight: 700;
          font-style: normal;
          line-height: 1;
          color: var(--text-dark);
          transition: transform 1s ease-out, opacity 1s var(--cubic-bezier-80);
        }

        & .tag {
          font-size: 4.39vw; /* 18px */
          margin-top: 1.95vw; /* 8px */
          opacity: 0.8;
          background: var(--primary-light3);
          width: fit-content;
          padding: 0.49vw 2.93vw; /* 2px 12px */
          border-radius: 99px;
        }
      }

      & p {
        text-align: start;
        opacity: 0.6;
        font-size: 4.88vw; /* 20px */
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        margin: 0 0 2.44vw 0; /* 10px */
      }

      & .text {
        transition: transform 1s ease-out, opacity 1s ease-in;
      }
    }

    & .actions-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.95vw; /* 8px */

      & .actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.95vw; /* 8px */

        & button {
          display: flex;
          flex: 1;
          padding: 1.95vw 3.9vw; /* 8px 16px */
          justify-content: center;
          align-items: center;
          font-size: 3.9vw; /* 16px */
          font-weight: 600;
          background: var(--button-light);
          transition: transform 0.3s var(--cubic-bezier-150), opacity 0.2s ease-in;
          transition-delay: 0.5s;

          &:hover {
            animation: button-bounce 0.6s ease-in-out;
          }

          &.btn-gradient-border {
            --border-width: 0.73vw; /* 3px */
            width: 100%;
            position: relative;
            background-clip: padding-box;
            border: var(--border-width) solid transparent;

            &:before {
              content: '';
              position: absolute;
              z-index: -1;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: calc(var(--border-width) * -1);
              border-radius: inherit;
              background: linear-gradient(90deg,
                var(--gradient-color-1) 0%,
                var(--gradient-color-2) 45%,
                var(--gradient-color-2) 50%,
                var(--gradient-color-1) 95%);
              background-size: 200% 100%;
              animation: btn-gradient-border 2s infinite linear;
              animation-direction: reverse;
            }

            &:hover {
              background-image: var(--button-gradient);

              &:before {
                background: none;
              }
            }
          }
        }
      }
    }
  }
}

.dark-theme {
  & .projects-carousel-scene {
    & .project {
      & .text-actions {
        & .title {
          color: var(--text-light);
        }

        & .tag {
          background: var(--white18);
        }

        & p {
          font-weight: 100;
        }
      }

      & .actions-wrapper {
        & .actions {
          & button {
            background: var(--button-dark);

            &.btn-gradient-border {
              background-clip: padding-box;
            }
          }
        }
      }
    }
  }
}

@keyframes btn-gradient-border {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 200%;
  }
}
