.skills-cover {
  & .title.hidden {
    & :nth-child(1) {
      transform: translateX(-1000px);
      opacity: 0;
    }

    & :nth-child(2) {
      transform: translateX(1000px);
      opacity: 0;
    }
  }

  & .text.hidden {
    transform: translateY(200px);
    opacity: 0;
  }

  & .actions {
    & button {
      display: flex;
      padding: 1.3vw 3.12vw; /* 25px 60px */
      justify-content: center;
      align-items: center;
      gap: 0.25vw; /* 10px */
      font-size: 2.08vw; /* 40px */
      font-weight: 600;
      height: 100%;
      transition: transform 0.3s var(--cubic-bezier-150), opacity 0.2s ease-in;
      transition-delay: 0.5s;
    }

    &.hidden > button {
      transform: scaleX(1.5) scaleY(0);
      opacity: 0;
    }
  }

  & .illustrations {
    position: relative;

    & > div {
      flex-shrink: 0;
      position: absolute;
    }

    & > :nth-child(1) {
      width: 17.19vw; /* 330px */
      height: 17.19vw; /* 330px */
      top: -18.75vw; /* 360px */
      left: -25.52vw; /* 490px */
      rotate: -4.2deg;
    }

    & > :nth-child(2) {
      width: 19.79vw; /* 422px */
      top: -9.11vw; /* 175px */
      left: -8.07vw; /* 155px */
      rotate: 5deg;
    }

    & > :nth-child(3) {
      width: 17.19vw; /* 330px */
      top: 0.52vw; /* 10px */
      left: -23.7vw; /* 455px */
      rotate: 3deg;
    }

    &.hidden > div {
      transform: scale(0) rotate(90deg);
      opacity: 0;
    }
  }
}
